* {
  padding: 10px 10px 10px 10px;
}

header {
  width: 100%;
  height: 30px;
  background-color: maroon;
  color: white;
}

.title {
  display: inline;
}

footer {
  color: white;
  background-color: DimGrey;
  float: left;
  position: relative;
}

a {
  color: white;
  text-align: right;
}

p {
  margin: 0px 0px;
}

.login {
  float: right;
  display: inline-block;
}

.nav-bar {
  background-color: DimGrey;
  text-align: right;
  width: 100%;
  height: 10px;
  word-spacing: 10px;
}

.main {
  margin: 0px 0px;
  width: 1000px;
  float: left;
}

.main * {
  margin: 0px 0px;
}

.main img {
  width: 1000px
}

.side-images {
  width: 300px;
  float: right;
}

.side-images h3 {
  margin: 0px 0px;
  padding: 0px 10px;
}

.side-images img {
  width: 250px;
  margin-bottom: 25px;
}
